<!-- 
/****************************** Script Header ******************************\
Project: PokePucks
Author: Brandon Camacho
Editors: Brandon Camacho

<Description>
The ejs file for the chatroom.
\***************************************************************************/
 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokePucks Chatroom Lobby</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
        integrity="sha512-Xm9qbB6Pu06k3PUwPj785dyTl6oHxgsv9nHp7ej7nCpAqGZT3OZpsELuCYX05DdonFpTlBpXMOxjavIAIUwr0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="app.js"></script>
    <!-- "defer" tells the file to not load the JS until everything else is essentially loaded -->
</head>

<body>
    <main>
        <div id="lobby-page">
            <input type="text" id="name" size="5" value="<%= sessionUser %>" readonly>
            <input type="text" id="room" placeholder="Room Code" size="5">
            <button id="join" onclick="joinRoom()">Join</button>

            <button onclick="createRoom()">Create Room</button>

            <label for="privacy">Choose Room Privacy:</label>
            <select id="privacy">
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
        </div>

        <p> Active Rooms:
            <% activeRooms.forEach(function(room, index) { %>
                <%= room %>
                    <%= index !==activeRooms.length - 1 ? ',' : '' %>
                        <% }); %>
        </p>
        <button id="logout" onclick="logout()">Log Out</button>
    </main>
</body>

</html>