<!-- 
/****************************** Script Header ******************************\
Project: PokePucks
Author: Brandon Camacho
Editors: Brandon Camacho, Logan Cruz

<Description>
The ejs file for the chatroom.
\***************************************************************************/
 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokePucks Chatroom</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="img\blueAndYellowPokeBallFaviconPlaceholder.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
        integrity="sha512-Xm9qbB6Pu06k3PUwPj785dyTl6oHxgsv9nHp7ej7nCpAqGZT3OZpsELuCYX05DdonFpTlBpXMOxjavIAIUwr0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="app.js"></script>
    <!-- "defer" tells the file to not load the JS until everything else is essentially loaded -->
</head>

<body>
    <main>
        <div class="welcome">
            <ul class="chat-display"></ul>
        </div>
        <div class="leaveButton" id="chatroom-page">

            <p class="user-list"></p>

            <p class="activity"></p>

            <form class="form-msg">
                <input type="text" id="message" placeholder="Your message" required>
                <button type="submit">Send</button>
            </form>
        </div>
        <div class="greyBox" id="game-page">
            <img src="img/blackSide.png" class="blackSide" id="blackSide" alt="">
            <img src="img/bulbasaur.svg" id="bulbasaur" class="pokemon" height="100" width="100" />
            <img src="img/squirtle.svg" id="squirtle" class="pokemon" height="100" width="100" />
            <img src="img/whiteSide.png" alt="" class="blackSide" id="whiteSide">
            <!--

            
            <img src="img/whiteRotation1.png" alt="" class="blackSide" id="whiteRotation1">
            <img src="img/whiteRotation2.png" alt="" class="blackSide" id="whiteRotation2">
            <img src="img/whiteRotation3.png" alt="" class="blackSide" id="whiteRotation3">
            <img src="img/blackRotation1.png" alt="" class="blackSide" id="blackRotation1">
            <img src="img/blackRotation2.png" alt="" class="blackSide" id="blackRotation2">
            <img src="img/blackRotation3.png" alt="" class="blackSide" id="blackRotation3">
            -->
            <canvas id="canvas"></canvas>

        </div>

        <div class="strste">
            <button onclick="stepGameClient()">Step Game</button>
            <button id="start-game-button" disabled="true" onclick="startGameClient()">Start Game</button>
            <button onclick="leaveRoom()">Leave Room</button>
            <label for="ready-checkbox">I'm ready:</label>
            <input type="checkbox" id="ready-checkbox">
        </div>

        <div class="music"><button onclick="play()">music</button></div>
        <script>
            function play() {
                var audio = new Audio('music/intro.mp3')
                audio.play()
            }
        </script>
    </main>
</body>

</html>