<!-- 
/****************************** Script Header ******************************\
Project: PokePucks
Author: Brandon Camacho
Editors: Brandon Camacho, Antonio Cruz

<Description>
The ejs file for the chatroom.
\***************************************************************************/
 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokePucks Chatroom Lobby</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="img\blueAndYellowPokeBallFaviconPlaceholder.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
        integrity="sha512-Xm9qbB6Pu06k3PUwPj785dyTl6oHxgsv9nHp7ej7nCpAqGZT3OZpsELuCYX05DdonFpTlBpXMOxjavIAIUwr0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="app.js"></script>
    <!-- "defer" tells the file to not load the JS until everything else is essentially loaded -->
</head>
<style>
    body {
        background-image: url("img/ad.ng");
        background-size: cover;
        width: 100%;
        height: 100%;
    }
</style>

<body>
    <main>
        <div class="title" id="lobby-page">
            PokePucks
        </div>

        <div id="lobby-page">
            <input type="text" class="username" id="name" size="5" value="<%= sessionUser %>" readonly>
        </div>

        <div id="lobby-page">
            <input type="text" class="code" id="room" placeholder="Room Code" size="5" maxlength="5">
        </div>

        <div class="text1" id="lobby-page">
            <label for="privacy">Choose Room Privacy</label>
        </div>

        <div class="pubpriv" id="lobby-page">
            <select id="privacy">
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
        </div>

        <p class="active"> Active Rooms</p>

        <div class="rooms" id="lobby-page">
            <% activeRooms.forEach(function(room, index) { %>
                <span class="room-code" onclick="enterRoomClicked('<%= room %>')">
                    <%= room %>
                </span>
                <%= index !==activeRooms.length - 1 ? ',' : '' %>
                    <% }); %>
        </div>

        <div class="jout" id="lobby-page">
            <button id="join" onclick="joinRoom()">Join</button>
            <button id="logout" onclick="logout()">Log Out</button>
        </div>

        <div class="craroo" id="lobby-page">
            <button onclick="createRoom()">Create Room</button>
        </div>

        <div class="music"><button onclick="play()">music</button></div>
    </main>
</body>
<script>
    function play() {
        var audio = new Audio('music/intro.mp3')
        audio.play()
    }

    let currentIndex = 0;
    const images = ["url('img/fhc.png')", "url('img/fgh.png')", "url('img/jfh.png')", "url('img/gren.png')"]
    const body = document.querySelector('body')

    function changeBg() {
        const bg = images[currentIndex];
        body.style.backgroundImage = bg;
        currentIndex = (currentIndex + 1) % images.length;
        console.log(currentIndex);
    };

    changeBg();
    setInterval(changeBg, 3000) // Change this to 2000 for 2 seconds

</script>

</html>