/****************************** Script Header ******************************\
Project: PokePucks
Author: Brandon Camacho
Editors: Brandon Camacho, Antonio Cruz
{ 172.16.3.124:3000 }
<Description>
The css for the chatroom.
\***************************************************************************/
* {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: yellow;
    width: 200px;
    height: 60px
}

.tet{
    color: black;
    font-size: 150px;
    margin-top: 50px;
    border-width: 25px;
    margin-left: 585px;
    width: fit-content;
    text-align: center;
    font-weight: lighter;
    border-style: groove;
    border-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.set{
    width: 10%;
    padding: 10px;
    font-size: 25px;
    margin-top: 40px;
    border-width: 15px;
    margin-left: 850px;
    text-align: center;
    border-style: groove;
    border-color: rgb(241, 52, 52);
    
}

.bet{
    width: 10%;
    padding: 10px;
    font-size: 25px;
    margin-top: 15px;
    border-width: 15px;
    margin-left: 850px;
    text-align: center;
    border-style: groove;
    border-color: rgb(252, 60, 60);
}

.het{
    color: black;
    margin-top: 15px;
    text-align: center;
}

.ket{
    margin-top: 10px;
    text-align: center;
}

.qet{
    color: black;
    margin-top: 15px;
    text-align: center;
}

.det{
    width: 25%;
    margin-top: 15px;
    margin-left: 710px;
    border-style: solid;
}

.yet{
    border: none;
    padding: 10px;
    margin-top: 15px;
    margin-left: 700px;
}

.uet{
    margin-top: 15px;
    margin-left: 835px;
}

body{
    color: black;
    background-image: url("img/bc.png");
}

main {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

form {
    width: 100%;
    gap: .25rem;
    margin: auto;
    display: flex;
    max-width: 600px;
    flex-flow: row nowrap;
    justify-content: center;
}

select {
    width: 20%;
}

input {
    flex-grow: 1;
    max-width: calc(80% - .25rem);
}

button {
    width: 20%;
}

input,
button {
    padding: .5rem;
    border-radius: 10px;
}

#login-page {
    visibility: visible;
}

#lobby-page {
    visibility: visible;
}

#chatroom-page {
    visibility: visible;
}

.chat-display {
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    overflow: auto;
    flex-grow: 1;
    flex-flow: column;
    border-radius: 10px;
    list-style-type: none;
    justify-content: left;
    background-color: #333;
}

.post {
    background-color: #eee;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post--left {
    width: 60%;
    align-self: flex-start;
}

.post--right {
    width: 60%;
    align-self: flex-end;
}

.post__header {
    color: #fff;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.post__header--user {
    background-color: blue;
}

.post__header--reply {
    background-color: purple;
}

.post__header--name {
    font-weight: bold;
}

.post__header--time {
    font-size: .8rem;
}

.post__text {
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}

.user-list,
.room-list,
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
}

.activity {
    font-style: italic;
}

#ready-checkbox {
    margin-left: 10px;
}

label[for="ready-checkbox"] {
    font-size: 16px;
}

/* Game CSS */
.blackSide {
    image-rendering: auto;
    visibility: hidden;
    max-height: 0%;
    max-width: 0%;
}
.pokemon {
    image-rendering: auto;
    visibility: hidden;
    max-height: 0%;
    max-width: 0%;
}

#canvas {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}